name: Trigger Documentation Update

on:
  push:
    branches:
      - master

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
    - name: Repo Dispatch
      uses: peter-evans/repository-dispatch@v1.0.0
      with: 
        token: ${{ secrets.ALL_IN }}
        repository: gordonwatts/hep_tables_docs
        event-type: my-event
